body {padding: 0;
      margin: 0;
}
.flex-item {display: flex;
}
.flex-center-item {display: flex;
                   justify-content: center;
                   align-items: center;
}
.flex-spread-item {display: flex;
                   justify-content: space-between;
                   align-items: center;
}
ul {list-style: none;
       padding: 0;
       margin: 0;
}

header {background-color: black;
        color: white;
}
main {margin: 50px;
}

.preliminary {flex: 1;
              flex-direction: column;
}
.details {flex: 3;
          height: 70vh;
          margin-left: 20px;
          box-sizing: border-box;
}

.image-line {text-align: center;
}
.image-line img {height: 250px;
                 width: 250px;
                 border-radius: 50%;
                 margin-bottom: -20px;
}

.content {border: 1px solid #777;
          background-color: rgb(235, 235, 235);
          width: 80%;
          padding: 20px;
          box-sizing: border-box;
          margin-top: 30px;
          border-radius: 5px;
}
.content ul {padding: 0 5%;
             font-size: 24px;
             color: #777;
             line-height: 48px;
}
.content ul span {color: black;
                  font-weight: 900;
}

.tab-buttons {padding: 5px 10px;
              background-color: unset;
              border: 1px solid black;
              outline: none;
              font-size: 20px;
              transition: .25s linear;
              border-radius: 2px;
}
.tab-buttons:hover {background-color: black;
                    color: white;
}

.parts {height: fit-content;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
}
.parts .part {display: none;
}
.parts .part.active {display: unset;
}
#save-btn {background-color: black;
           color: white;
           padding: 5px 10px;
}
table {height: 100%;
       width: 100%;
       border-spacing: 0;
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
 background-color: #fff;
}
td {padding: 50px 15px;
    font-size: 24px;
}
th {
  background-color: #777;
  color: white;
  padding: 50px;
  font-size: 36px;
}

.part-two input  {width: 70%;
                  margin: 20px;
                  height: 5vh;
}

@media (max-width: 975px) {
    main {margin: 50px 20px;
          flex-wrap: wrap;
    }
    .content {width: 100%;
    }
    .part-two input {width: 90%;
    }
    .tab-buttons {margin-top: 20px;
    }
}

@media (max-width: 725px) {
    table  {margin-left: -30px;
    }
    td {padding: 20px 10px;
        font-size: 16px;
    }
    th {padding: 20px 10px;
        font-size: 24px;
    }
    .tab-buttons {font-size: 16px;
    }
}